.counter {
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid #dff9fb;
    margin-bottom: 10px;
    padding-top: 0;
}